/* Style pour le titre de l'événement */
.details-event-title {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Style pour les détails de début et de fin de l'événement */
.details-event-time {
    font-size: 18px;
    color: #666;
}

/* Style pour l'ensemble de la boîte de dialogue */
.details-event-dialog {
    background-color: #fff;
   
   
    padding: 20px;
  
    text-align: center;
}

/* Style pour le bouton de fermeture de la boîte de dialogue */
.details-event-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #32CD32;
    font-size: 40px;
}
.btn-danger:hover {
   background-color:	#9c0909 ;  /* Couleur du texte au survol */
}
.btn-primary:hover {
    background-color:	#0013ff ;  /* Couleur du texte au survol */
}
  .green-background {
    background-color: #32CD32;
    color: white; /* Pour s'assurer que le texte reste lisible */
    padding: 5px; /* Pour ajouter un peu d'espace autour du texte */
}
.apply-button {
    font-size: 20px; /* taille du texte */
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #32CD32;
    color: white;  /* padding autour du texte */
}
.apply-button:hover {
    background-color: #228B22; /* Nouvelle couleur de fond au survol */
}
.message{
    color: #9c0909;
}
