<div *ngIf="!modifier" >
<div  class="details-event-dialog">
    <span class="details-event-close-button" (click)="closeDialog()">&times;</span>
    <h2 class="details-event-title mb-5">{{ data.event.event.title }}</h2>
    <p class="details-event-time mb-4"><span class="green-background">Start</span>: {{ data.event.event.start | date:'medium' }}</p>
    <p class="details-event-time mb-3"><span class="green-background">End</span>: {{ data.event.event.end | date:'medium' }}</p>
   </div>
   <div class="details-event-dialog">
     <div *ngIf="affiche" class="message">{{ message }}</div>
    <button  class="btn btn-danger mb-4"  (click)="deleteEvent()">Supprimer</button>
    <br>
    <button class="btn btn-primary" (click)="modifierhoraire()">Modifier Horaire</button>

</div>
</div>
<div *ngIf="modifier">
    <div class="details-event-dialog">
        <span class="details-event-close-button" (click)="closeDialog()">&times;</span>
        <h2 class="details-event-title mb-5">{{ data.event.event.title }}</h2>
        <div class="details-event-time mb-4">
            <label class="green-background" style="margin-right: 10px;">New Start:</label>
            <input type="datetime-local" id="newStart" name="newStart" [(ngModel)]="eventObj.start">
        </div>
        <div class="details-event-time mb-3">
            <label class="green-background"style="margin-right: 10px;">New End:</label>
            <input type="datetime-local" id="newEnd" name="newEnd"[(ngModel)]="eventObj.end" >
        </div>
    </div>
    <div class="details-event-dialog">
        <div *ngIf="affiche2" class="message">{{ message2 }}</div>
        <button class=" apply-button " (click)="modifierEvent()">Appliquer</button>
    </div>
</div>

