

.redressed {
	font-family: 'Redressed', cursive;
}
.merriweather-light {
	font-family: "Merriweather", serif;
	font-weight: 300;
	font-style: normal;
  }
.merriweather {
	font-family: "Merriweather", serif;
}

.cc-navbar {
	background-color: rgba(0, 0, 0, 0.55); /*couleur du navbar*/
	font-family: 'Merriweather', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover {
	padding-bottom: 20px;
	border-bottom-color: var(--bs-teal);
}

.banner,
.order-form {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/agriculture.jpg') center center fixed no-repeat;
	background-size: cover;
	height: 700px;
}

.order-form {
	height: 500px;
}

.banner .banner-desc h1 {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
}

.cc-menu {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/images/foret.jpg') center center fixed no-repeat;
	background-size: cover;
	height: 1200px;
}

.btn-order {
	color: var(--bs-teal);
	border-color: var(--bs-teal);
	transition: 0.5s;
}

.btn-order:hover,
.btn-order:focus,
.btn-order:active {
	color: #fff;
	background-color: var(--bs-teal);
}

.color{
	color: var(--bs-teal);
	
	display: inline-block;
}
.custom-image {
	width:100%; /* Largeur personnalisée */
	height: 350px; /* Hauteur personnalisée */
	object-fit: cover; /* Ajuster la taille sans déformer l'image */
  }
  .custom-image1{
	height: 350px;

  }
  .font{
	font-family: "Protest Revolution", sans-serif;
	font-weight: 500;
	font-style:normal;
	background-color:var(--bs-teal);
	font-size: 20px;

  }
  .message {
    background-color: #ffffff; /* Fond blanc */
    color: #f60303; /* Couleur du texte */
    padding: 10px; /* Espace intérieur */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Gras */
}

.message-success {
    background-color: #ffffff; /* Fond blanc */
    color: 	#607c3c; /* Couleur du texte */
    padding: 10px; /* Espace intérieur */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Gras */
}

@media (max-width: 485px) {
    .mak , .man {
        margin: 0 auto ;
        width:100% !important; /* Largeur de la classe .man */
       
    }

}

  @media (min-width: 486px), (max-width: 776px) {
	.man, .mak {
		margin: 0 auto;
		width:40%; /* Vous pouvez ajuster la valeur de width selon vos besoins */
        max-width: none;
		
	 
	}
  }
  
  
  @media (max-width: 777px), (max-width: 992px) {
    .man, .mak {
        margin: 0 auto;
        width: 80%; /* Augmenter la valeur de width pour élargir les éléments */
        max-width: none; /* Supprimer toute limite maximale de largeur */
    }
  
    .row {
        justify-content: center; /* Centre les éléments horizontalement */
    }
}
@media (min-width: 390px), (max-width: 767px) {
	.msn {
		margin: 0 auto;
		width:50%; /* Vous pouvez ajuster la valeur de width selon vos besoins */
        max-width: none;
		
	 
	}
	.bbc {
		margin: 0 auto;
		width:50%; /* Vous pouvez ajuster la valeur de width selon vos besoins */
        max-width: none;
		
	 
	}
  }






  
 







  
