.inscription-form {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
  }
  
  .inscription-form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #090909;
  }
  
  .inscription-form label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
  }
  
  .inscription-form input[type="text"],
  .inscription-form input[type="email"],
  .inscription-form input[type="tel"],
  .inscription-form input[type="password"],
  .inscription-form input[type="adresse"] {
    width: calc(100% - 22px);
    padding: 12px;
    border: 1px solid #32CD32;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .inscription-form input[type="text"]:focus,
  .inscription-form input[type="email"]:focus,
  .inscription-form input[type="tel"]:focus,
  .inscription-form input[type="password"]:focus,
  .inscription-form input[type="adresse"]:focus {
    outline: none;
    border-color: #28a928;
  }
  
  .inscription-form button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #32CD32;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Aligner le bouton en bas du formulaire */
  }
  
  .inscription-form button:hover {
    background-color: #28a928;
  }
  .message {
    
    color: 	#809c13;
    
  }  
  .profile-image-container {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 200px; /* ou toute autre valeur souhaitée */
    height: 200px; /* ou toute autre valeur souhaitée */
    object-fit: cover;
    text-align: center; /* pour s'assurer que l'image conserve ses proportions */
}