<header>
<img src ="../../assets/images/agriculture.jpg" class="fullscreen-bg" >
-
<section class="content">
    <h1>Contenu sous l'image</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <p>Ce paragraphe occupera les 4 premières colonnes.</p>
            </div>
            <div class="col-md-8">
                
                   <p >Ce paragraphe occupera les 8 colonnes </p>
            </div>
        </div>
    </div>
    
    <a href="#">Lien</a>
</section>
</header>
<footer> 
    
    <table   border="1">
        <tr>
            <th class="text-center"> Smart farm </th>
            <th class="  text-center">Réseaux Sociaux</th>
            <th class=" text-center">Contact</th>
        </tr>
       
        <tr >
           <td rowspan="3" class="text-center">LOGO</td>
            <td rowspan ="3" >Facebook <a href="https://www.facebook.com/"><img src ="../../assets/images/Facebook.jpg" width="40" height="40"></a> <span class="grand-espace"></span>        <br><br>
                Instagram <a href="https://www.linkedin.com/in/mounirbouchaala284784224/"><img src ="../../assets/images/insta.jpg" width="40" height="40"></a><br><br>
                LinkedIn  <a href="https://www.linkedin.com/in/mounirbouchaala284784224/"><img src ="../../assets/images/linkedin.png" width="40" height="40" ></a></td>
            <td   rowspan="3"><img src ="../../assets/images/tel.png" width="40" height="40"> <div clas="abk">(+216) 51486139  <br><br>
                 <img src ="../../assets/images/mail.png" width="40" height="40" > Smartfarm@gmail.com</div></td>
        </tr>
     
    </table>

</footer>